


@{
    ViewBag.Title = "UploadFile";
}


@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <br />
    <br />
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        @Html.CheckBox("publicFile", false)
        <p3>Public File</p3>
        <br />
        <br />
        <input type="submit" value="Upload" />


        @ViewBag.Message



    </div>
}